/* Styles généraux */
body {
    font-family: 'Montserrat', Arial, sans-serif;
    color: white;
    background-color: #051C24;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

/* Header */
header {
    height: 200px;
    margin: 1rem 0;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.clicktitle {
    font-size: 4em;
    font-weight: 700;
    color: white;
}

.clicktitle:hover {
    color: gray;
}

.clicktitle:active {
    color: lightgray;
}


/* Section classement */
.classement {
    padding: 20px;
    max-width: 975px;
    margin: 0 auto;
    text-align: center;
}

.classement-titre h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.equipes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Footer */
.footer {
    font-size: 12px;
    margin-top: 25px;
    padding: 10px 0;
    background-color: #051C24;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: center;
    gap: 15px;
}

/* Boutons */
.button {
    color: white;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 20px;
    outline: 0;
    border: 1px solid white;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    transition: 0.2s;
}

.button:after {
    content: "";
    background-color: #0b2630;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: -1;
    transition: 0.2s;
}

.button:hover:after {
    top: 0px;
    left: 0px;
}

/* Responsive Design */
@media (max-width: 900px) {
    .clicktitle {
        font-size: 3em;
    }

    .footer-content {
        flex-direction: column;
    }

    .button {
        width: 100%;
        text-align: center;
    }
}

.team {
    background-color: #082f3d;
    border-bottom: 1px solid #0a3d4f;
    margin-bottom: 3px;
    width: 50%;
    height: 3em;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}


.logo-team {
    height: 30px;
    margin-left: 4px;
    margin-top: 4px;
    border-radius: 0.4em;
}

.like-btn {
    color: white;
    padding: 0.3em;
    background-color: #0a3d4f;
    cursor: pointer;
    width: 60px;
    border-radius: 0.4em;
    border: none;
    display: flex;
    justify-content: space-around;
    transition: background-color 0.3s ease
}

.like-btn:hover{
    background-color: #268aad;
}

.like-img {
    margin-left: 0.2em;
    height: 1em;
}